body {
    font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
    max-width: 760px;
    margin: 0 auto;
}

.banner {
    text-align: center;
    padding: 1rem;
    background-color: #702963; 
    color: #fff; 
    font-size: 1.2rem;
}

h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
}

h2 {
    color: navy;
    text-align: left; 
    grid-column: span 2; 
}

article p {
    text-align: justify;
}

.callout {
    padding: 20px; 
    color: #333; 
    background-color: #f3e6ff; 
    border: 1px solid #ddd;
    border-radius: 8px;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: smaller;
    text-align: left; 
}

ul {
    list-style-type: square; 
}
