body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #001f3f;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1rem;
}

.highlight {
    color: yellow; 
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
}

nav {
    background-color: #063850;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 14rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

nav a:hover {
    background-color: #005f8f;
}

main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.card {
    background-color: white;
    border: 1px solid #001f3f;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.card h2 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: #ffffff;
    background-color: #001f3f;
    text-align: center;
    padding: 0.5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card h3 {
    position: relative;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    color: #333;
    text-align: center;
}

.card h3::after {
    content: "";
    display: block;
    width: 50%;
    height: 2px;
    background-color: #9e9494;
    margin: 0.5rem auto 0;
}

.about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.about-me .text {
    flex: 1;
}

.about-me .image img {
    max-width: 150px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.country-section {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    margin-top: 1rem;
}

.country-section img {
    max-width: 190px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.country-section div:last-child {
    flex: 1;
    max-width: calc(100% - 200px); 
    margin-left: 10px; 
    text-align: justify;
}

.country-section .flag-caption {
    font-size: 0.9rem;
    color: #666;
    margin-top: 0.5rem;
    text-align: center;
}

.card ul {
    list-style: disc inside;
    margin: 1rem 0;
    text-align: center;
    padding-left: 0;
}

.card ul li {
    text-align: left;
    margin: 0 auto;
    max-width: 200px;
}

.card ul li a {
    color: #0074D9;
    text-decoration: none;
}

.card ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #001f3f;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    margin-top: 2rem;
}

footer p {
    margin: 0.5rem 0;
}

footer span#currentyear {
    font-weight: bold;
}

footer p#lastModified {
    font-size: 0.8rem;
    color: #fffb19;
}
