@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    /* Usas la fuente que importaste */
    background-color: #f4f4f4;
    /* Color de fondo */
}

/* Header and navigation */
header {
    background-color: #001f3f;
    color: white;
    padding: 1rem;
}

nav {
    display: flex;
    gap: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}

nav a:hover {
    background-color: #005f8f;
    border-radius: 5px;
}

/* Main*/
main {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* Cards */
.card {
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    background-color: #001f3f;
    color: white;
    text-align: center;
    padding: 1rem;
}