:root {
    --primary-color: #59005c; 
    --secondary-color: #F8F8F8; 
    --background-color: #f3e0fa; 
    --text-color: #333333;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    color: var(--text-color);
    background-color: var(--background-color);
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 20px 0;
}
